.cards-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
}

.flex-item {
  flex: 0 0 0;
}

.flex-item-long {
  flex: 3 1 auto;
}

.flex-container-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.flex-container-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

mat-list-item:nth-child(odd) {
    background-color: rgba(77,55,253,0.05);
}

.horizontal5 {
  width: 5%;
}
h1, h3 {
  margin-top: 3rem;
}
