<h2>Upload New Dictionary</h2>

<form [formGroup]="form" (ngSubmit)="submit()" class="flex-container-center">
<!--  <input type="file" class="ng-hide" id="file" (change)="onFileChange($event)">-->

  <button type="button" mat-raised-button (click)="fileInput.click()">Choose YAML File</button>
  <input hidden (change)="onFileChange($event)" #fileInput type="file" id="file">
  <div class="horizontal5"></div>
  <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Submit</button>
</form>

<h1 *ngIf="dictionary">{{ dictionary.name }}</h1>

<div *ngFor="let doc of dictionary?.documents; let i=index">
  <h3>{{doc.source}}</h3>
  <mat-list #{{doc.source}}>
    <mat-card>
      <mat-list-item *ngFor="let word of doc?.words; let j=index">
        <div class="flex-container">
          <div class="flex-item-long">{{word.foreignWord}} - {{word.translations}}</div>
          <div class="flex-item">
            <div class="flex-container">
              <mat-action-list class="flex-item flex-container-end">
              <div class="flex-container-end">
                <button mat-list-item class="flex-item" (click)="edit(i, j)"> Edit</button>
                <button mat-list-item class="flex-item" (click)="delete(i, j)"> Delete</button>
              </div>
            </mat-action-list>
            </div>

          </div>

        </div>
      </mat-list-item>
    </mat-card>
  </mat-list>
</div>
