.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
}

.flex-container-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.lang-selection {
  display: block;
  margin: 3rem;
}
